# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes
/MainModule/PCB/MainModule/mainModule.s#2
/MainModule/PCB/MainModule/mainModule.s#1
/ControlExpansionModule/PCB/ControlExpansionModule/CEM-8bit-PCA9557.s#2
/ControlExpansionModule/PCB/ControlExpansionModule/CEM-8bit-PCA9557.s#3
/ControlExpansionModule/PCB/ControlExpansionModule/CEM-8bit-PCA9557.s#4
/ControlExpansionModule/PCB/ControlExpansionModule/CEM-8bit-PCA9557.s#5
/ControlExpansionModule/PCB/ControlExpansionModule/CEM-8bit-PCA9557.s#6
/ControlExpansionModule/PCB/ControlExpansionModule/CEM-8bit-PCA9557.s#1
