# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes
/MainModule/PCB/MainModule/mainModule.s#2
/MainModule/PCB/MainModule/mainModule.s#1
/ControlExpansionModule/PCB/ControlExpansionModule/CEM-8bit-PCA9557.s#2
/ControlExpansionModule/PCB/ControlExpansionModule/CEM-8bit-PCA9557.s#3
/ControlExpansionModule/PCB/ControlExpansionModule/CEM-8bit-PCA9557.s#4
/ControlExpansionModule/PCB/ControlExpansionModule/CEM-8bit-PCA9557.s#5
/ControlExpansionModule/PCB/ControlExpansionModule/CEM-8bit-PCA9557.s#6
/ControlExpansionModule/PCB/ControlExpansionModule/CEM-8bit-PCA9557.s#1
Debug
Debug
Debug
.settings
/MainModule/SourceCode/MainModule(LPC1769)/MainModule(LPC1769) Release.launch
/MainModule/SourceCode/MainModule(LPC1769)/MainModule(LPC1769) Debug.launch
*.o
*.mk
*
*.d
*.o
*.d
*.mk
/MainModule/SourceCode/nxp_xpresso_1769_usblib_device/Debug/Drivers/USB/Class/Device/*.o
/MainModule/SourceCode/nxp_xpresso_1769_usblib_device/Debug/Drivers/USB/Class/Device/*.d
/MainModule/SourceCode/nxp_xpresso_1769_usblib_device/Debug/Drivers/USB/Class/Device/*.mk
/MainModule/SourceCode/nxp_xpresso_1769_usblib_device/Debug/Drivers/USB/Class/Common/*.o
/MainModule/SourceCode/nxp_xpresso_1769_usblib_device/Debug/Drivers/USB/Class/Common/*.mk
/MainModule/SourceCode/nxp_xpresso_1769_usblib_device/Debug/Drivers/USB/Class/Common/*.d
/MainModule/SourceCode/nxp_xpresso_1769_board_lib/Debug/BOARD
/MainModule/SourceCode/nxp_xpresso_1769_board_lib/Debug/CHIP
/MainModule/SourceCode/nxp_xpresso_1769_board_lib/Debug/IP
